h1 {
  font-family: 'Audiowide', cursive;
  margin: auto;
  font-size: 50px;
}

#main-div {
  margin: auto;
}

.nav-wrapper {
  margin: auto 200px;
}

#header-logo {
  height: 200px;
  /* For browsers that do not support gradients */

}

#header-logo {
  height: 100px;
  width: 100px;
}


.parallax {
  /* The image used */
  background-image: url("https://www.jakpost.travel/imgfiles/full/33/331779/4k-white-wallpaper.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#myVideo {
  width: 50%;
}

#video {
  display: flex;
  margin: 1px 20px;

}


.navbar-brand {
  display: flex;
}


body,
html {
  height: 100%;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-80%, -90%);
  color: black;
  font-size: 100px;
  font-family: 'Orbitron', sans-serif;
  margin: 10px;
  margin-top: 150px;
  margin-left: 50px;
  padding: 10px;
}


.about {
  background-color: white;
  padding: 20px 150px;
  display: flex;
  background-color: white;
  margin: 1px 20px;
}

#mini-work {
  display: flex;
  padding: 2px 50px;
}

.work {
  margin: 10px;
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

#about-me {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}


.work-card {
  margin: 20px;
  display: flex;
}

#card-img {
  width: 100%;
}

.card {
  margin: 5px;
}

.about-img {
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px 1px 30px 1px;
  margin: 2px white;
  padding: 10px;
  width: 70%;
  border: 2px;

}

#myVideo {
  width: 50%;
  margin: 5px;
  padding: 5px;
}

#contact-heading {
  font-family: 'Audiowide', cursive;
}

#content {
  margin: 2px 50px;
}

#contact-heading {
  text-align: center;
  margin: 100px;
  font-size: 100px;
}

#contact-para {
  font-family: 'Rock Salt', cursive;
  margin: 2px 40px;
  font-size: 30px;
  text-align: center;
}

#contact-details {
  font-size: 30px;
  margin: 5px 200px;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  display: flex;
}

.form-label {
  color: #cbcbcb;
  font-size: 20px;
  margin: 1px 1px;
}

.form-data {
  margin: 5px 1px
}

.contact {
  margin: 40px;
  text-align: center;
}

#contact-details1 {
  text-align: center;
  display: flex;
  margin: auto;
}

.container-footer{
  text-align: center;
}

.page-footer{
  margin-top: 10px;
}

.resume{
  padding: 10px;
}





@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .nav-wrapper {
    margin: auto;
  }

  .sidenav-overlay{
    display: none;
  }

  .form-data {
    font-size: 20px;
  }

  .contact {
    margin: 20px;
    text-align: center;
  }

  #contact-details {
    font-size: 30px;
    margin: auto;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    display: flex;
  }

  #contact-details1 {
    margin-top: 10px;
  }

  #contact-para {
    font-family: 'Rock Salt', cursive;
    margin: auto;
    font-size: 20px;
    text-align: center;
  }

  #contact-heading {
    text-align: center;
    margin: 80px auto;
    font-size: 50px;
  }

  #contact-details1 {
    flex-direction: column;
  }

  #myVideo {
    width: 100%;
    margin: 5px;
    padding: 5px;
  }

  #video {
    flex-direction: column;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-80%, -90%);
    color: black;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    margin: 10px;
    margin-top: 100px;
    margin-left: 80px;
    padding: 10px;
  }

  #mini-work {
    flex-direction: column;
    padding: 0;
    height: 700px;

  }

  .work-card {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
    padding: 0 20px;
    margin: 1px 20px;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .work {
    text-align: center;
    margin: 10px auto;
  }

  .parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/f2/c3/ae/f2c3aec4d3cee9dc5df95c25c5455cb9.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #main-work{
    height: 1100px;
  }

}