h1 {
  font-family: 'Audiowide', cursive;
  margin: auto;
  font-size: 50px;
}

#main-div {
  margin: auto;
}

.nav-wrapper {
  margin: auto 200px;
}

#header-logo {
  height: 200px;
  /* For browsers that do not support gradients */

}

#header-logo {
  height: 100px;
  width: 100px;
}


.parallax {
  /* The image used */
  background-image: url("https://www.jakpost.travel/imgfiles/full/33/331779/4k-white-wallpaper.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#myVideo {
  width: 50%;
}




.navbar-brand {
  display: flex;
}

#header-nav {}


body,
html {
  height: 100%;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-80%, -90%);
  color: black;
  font-size: 100px;
  font-family: 'Orbitron', sans-serif;
  margin: 10px;
  margin-top: 150px;
  margin-left: 50px;
  padding: 10px;
}


.about {
  background-color: white;
  padding: 20px 150px;
  display: flex;
  background-color: #fff1f1;
}

#mini-work {
  display: flex;
  padding: 2px 50px;
}

.work {
  margin: 10px;
  margin-top: 100px;
  font-family: 'Audiowide', cursive;
  font-size: 50px;
}

.work-card {
  margin: 20px;
  display: flex;
}

#card-img {
  width: 100%;
}

.card {
  margin: 5px;
}

.about-img{
  width: 100%;
  height: auto;
}




@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  .nav-wrapper {
    margin: auto;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-80%, -90%);
    color: black;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    margin: 10px;
    margin-top: 100px;
    margin-left: 80px;
    padding: 10px;
  }
  
  #mini-work{
    flex-direction: column;
    padding: 0;
    height: 1040px;
  }
  .work-card{
    flex-direction: column;
  }
  .about{
    flex-direction: column;
    padding: 0 20px;
    padding-top: 100px;
  }
  .about-img{
    width: 100%;
    height: auto;
  }
  .work{
    text-align: center;
    margin: 10px auto;
  }

  .parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/f2/c3/ae/f2c3aec4d3cee9dc5df95c25c5455cb9.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}